<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="monitorSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dvimonitor.azurewebsites.net/monitor.asmx"
                binding="basicHttpBinding" bindingConfiguration="monitorSoap"
                contract="dvi.monitorSoap" name="monitorSoap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="test" serializeAs="String">
                <value>1</value>
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </userSettings>
</configuration>